<div class="form-main">
  <div class="form-wrapper">
    <h1>アカウント編集</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>
      <div class="form-item">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-item">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="form-item">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="form-item">
        <%= f.label :current_password %> <i>（現在のパスワードを入力してください。）</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <div class="button-panel">
        <%= f.submit "上記の内容で変更する", class:"button" %>
      </div>
    <% end %>
    <div class="button-panel">
      <p><%= button_to "このアカウントを削除", registration_path(resource_name), data: { confirm: "上記の内容で登録しますか？" }, method: :delete, class: "button-danger" %></p>
    </div>
    
  </div>
</div>

