<div class="form-main">
  <div class="form-wrapper">
    <h1>新規登録</h1>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: @user %>
      <div class="form-item">
        <%= f.label :user_name %>(15文字以内)<br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "ユーザーネーム" %>
      </div>
      <div class="form-item">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-item">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="form-item">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="button-panel">
        <%= f.submit "上記の内容で登録する", class:"button" %>
      </div>
    <% end %>
    <div class="form-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

