<head>
  <title>Portforiover3</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Ulti（アルティ）はアルティメット専用の掲示板です。練習や試合の反省、プレーの言語化、役職の引き継ぎなど幅広く使用することができます。">
  <meta name="keyword" content="アルティメット,掲示板,アルティメット掲示板,サークル,部活">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
